html{
    width: 1200px;
    margin: auto;
    height: 600px;
    color: rgb(29, 143, 1);
}

#cadre{
    border: 3.5px solid rgb(29, 143, 1);
    height: 584px;
    
}

body{
    background-image: url(image/matrix.png);
}

h2, h1, p, a {
    text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
}

.sec-left{

    float: left;
    margin-left: 25px;
}

.sec-right{

    float: right;
    margin-top: 77px;
    margin-right: 71px;
}

h2 a{
    text-decoration: none;
    color:rgb(29, 143, 1);
    font-size: 35px;
}

.orange{

    color: rgb(29, 143, 1);
}

.photo{
    width: 150px;
    position: absolute;
    margin-left: 45px;
    margin-top: 192px;

}